
<h3>{{group.name}}</h3>

<form name="artistEditForm" ng-submit="submit()" novalidate>
  <div class="form-group">
    <label>Name</label>
    <input type="text" ng-model="group.name" class="form-control" />
  </div>
  <div class="form-group">
    <label>Notes</label>
    <textarea ng-model="group.notes" class="form-control"></textarea>
  </div>
  <button class="btn btn-primary">Submit</button>
  <a href="/groups" class="btn">Cancel</a>
</form>
