<p>
  <a href="/groups/new" class="btn btn-primary btn-xs btn-new">New Group</a>
</p>

<table class="table">
  <tbody>
    <tr ng-repeat="group in groups | orderBy:'-created_at':true">
      <td><a href="/groups/{{group.id}}">{{group.name}}</a></td>
      <td><span class="glyphicon glyphicon-remove btn-remove" ng-click="remove(place)"></span></td>
    </tr>
  </tbody>
</table>
