
<h3>{{artistEdit.artist.first_name}} {{artistEdit.artist.last_name}}</h3>

<form name="artistEditForm" ng-submit="artistEdit.submit()" novalidate>
  <div class="form-group">
    <label>First Name</label>
    <input type="text" ng-model="artistEdit.artist.first_name" class="form-control" />
  </div>
  <div class="form-group">
    <label>Last Name</label>
    <input type="text" ng-model="artistEdit.artist.last_name" class="form-control" />
  </div>
  <div class="form-group">
    <label>Notes</label>
    <textarea ng-model="artistEdit.artist.notes" class="form-control"></textarea>
  </div>
  <button class="btn btn-primary">Submit</button>
  <a href="/artists" class="btn">Cancel</a>
</form>
