<p>
  <a href="/artists/new" class="btn btn-primary btn-xs btn-new">New Artist</a>
</p>

<table class="table">
  <tbody>
    <tr ng-repeat="artist in artistList.artists | orderBy:'-created_at':true">
      <td><a href="/artists/{{artist.id}}">{{artist.first_name}} {{artist.last_name}}</a></td>
      <td><span class="glyphicon glyphicon-remove btn-remove" ng-click="artistList.remove(artist)"></span></td>
    </tr>
  </tbody>
</table>
