
<h2>{{artistShow.artist.first_name}} {{artistShow.artist.last_name}}</h2>
<p>{{artistShow.artist.notes}}</p>
<a href="/artists/{{artistShow.artist.id}}/edit" class="btn btn-primary btn-xs btn-new">Edit</a>
<a href="/artists" class="btn btn-primary btn-xs btn-list">List</a>
