
<h3>{{album.title}}</h3>

<form name="artistEditForm" ng-submit="submit()" novalidate>
  <div class="form-group">
    <label>Title</label>
    <input type="text" ng-model="album.title" class="form-control" />
  </div>
  <div class="form-group">
    <label>Notes</label>
    <textarea ng-model="album.notes" class="form-control"></textarea>
  </div>
  <button class="btn btn-primary">Submit</button>
  <a href="/albums" class="btn">Cancel</a>
</form>
