<p>
  <a href="/albums/new" class="btn btn-primary btn-xs btn-new">New Album</a>
</p>

<table class="table">
  <tbody>
    <tr ng-repeat="album in albumListCtrl.albums | orderBy:'-created_at':true">
      <td><a href="/albums/{{album.id}}">{{album.title}}</a></td>
      <td><span class="glyphicon glyphicon-remove btn-remove" ng-click="remove(place)"></span></td>
    </tr>
  </tbody>
</table>
