
<h2>{{album.title}}</h2>
<p>{{album.notes}}</p>
<a href="/albums/{{album.id}}/edit" class="btn btn-primary btn-xs btn-new">Edit</a>
<a href="/albums" class="btn btn-primary btn-xs btn-list">List</a>
